# Terraform
.terraform/
terraform/.terraform/
*.tfstate
*.tfstate.*
terraform.tfvars
*.tfvars

# Python
__pycache__/
*.pyc

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/

# Python virtual environment
.venv/
venv/
app/venv/

# Secrets
*.pem
.env
terraform.tfvars
