# Terraform
.terraform/
terraform/.terraform/
*.tfstate
*.tfstate.*

# Python
__pycache__/
*.pyc

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/

# Python virtual environment
.venv/
venv/
app/venv/

terraform/.terraform/
